<template>
  <div class="div">
    <Navbar />
    <div class="container">
      <div class="row mt-4">
        <div class="col">
          <h2>
            Daftar
            <strong>Wahana</strong>
          </h2>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col">
          <div class="input-group">
            <div class="input-group mb-3">
              <input
                v-model="search"
                type="text"
                class="form-control"
                placeholder="What you want to play? .."
                aria-label="What you want to play? .."
                aria-describedby="basic-addon1"
                @keyup="searchWahana"
              />
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">
                  <b-icon-search></b-icon-search>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row mb-4">
        <div
          class="col-md-3 mt-3 d-flex align-items-stretch"
          v-for="product in products"
          :key="product.id"
        >
          <CardProduct :product="product" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Navbar from "@/components/Navbar.vue";
import CardProduct from "@/components/CardProduct.vue";
import axios from "axios";
export default {
  name: "Wahana",
  components: {
    Navbar,
    CardProduct,
  },
  data() {
    return {
      products: [],
      search: "",
    };
  },
  methods: {
    setProducts(data) {
      this.products = data;
    },

    searchWahana() {
      axios
        .get("http://localhost:8888/api/products" + this.search)

        .then((response) => this.setProducts(response.data.data))

        .catch((error) => console.log(error));
    },
  },

  mounted() {
    axios
      .get("http://localhost:8888/api/products")

      .then((response) => this.setProducts(response.data.data))

      .catch((error) => console.log(error));
  },
};
</script>

<style>
</style>